.nav-links{
    display: flex;
}

.ul-class{
    display: flex;
    justify-content: flex-start;
    width:50%;
}

.active{
    background-color: aqua;
}
.list-class{
    list-style: none;
    padding:20px;
}
